/.vs/MVCTabsApp/v15/.suo
/.vs/MVCTabsApp/v15/Server/sqlite3/db.lock
/.vs/MVCTabsApp/v15/Server/sqlite3/storage.ide
/.vs/MVCTabsApp/v15/Server/sqlite3/storage.ide-shm
/.vs/MVCTabsApp/v15/Server/sqlite3/storage.ide-wal
/MVCTabsApp.Web/bin/MVCTabsApp.Web.dll
/MVCTabsApp.Web/bin/MVCTabsApp.Web.dll.config
/MVCTabsApp.Web/bin/MVCTabsApp.Web.pdb
/MVCTabsApp.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/MVCTabsApp.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/MVCTabsApp.Web/bin/Microsoft.Web.Infrastructure.dll
/MVCTabsApp.Web/bin/System.Web.Helpers.dll
/MVCTabsApp.Web/bin/System.Web.Helpers.xml
/MVCTabsApp.Web/bin/System.Web.Mvc.dll
/MVCTabsApp.Web/bin/System.Web.Mvc.xml
/MVCTabsApp.Web/bin/System.Web.Razor.dll
/MVCTabsApp.Web/bin/System.Web.Razor.xml
/MVCTabsApp.Web/bin/System.Web.Webpages.Deployment.dll
/MVCTabsApp.Web/bin/System.Web.Webpages.Deployment.xml
/MVCTabsApp.Web/bin/System.Web.Webpages.Razor.dll
/MVCTabsApp.Web/bin/System.Web.Webpages.Razor.xml
/MVCTabsApp.Web/bin/System.Web.Webpages.dll
/MVCTabsApp.Web/bin/System.Web.Webpages.xml
/MVCTabsApp.Web/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.CSharp.Core.targets
/MVCTabsApp.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.CodeAnalysis.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
/MVCTabsApp.Web/bin/roslyn/Microsoft.VisualBasic.Core.targets
/MVCTabsApp.Web/bin/roslyn/System.AppContext.dll
/MVCTabsApp.Web/bin/roslyn/System.Collections.Immutable.dll
/MVCTabsApp.Web/bin/roslyn/System.Diagnostics.StackTrace.dll
/MVCTabsApp.Web/bin/roslyn/System.IO.FileSystem.Primitives.dll
/MVCTabsApp.Web/bin/roslyn/System.IO.FileSystem.dll
/MVCTabsApp.Web/bin/roslyn/System.Reflection.Metadata.dll
/MVCTabsApp.Web/bin/roslyn/VBCSCompiler.exe
/MVCTabsApp.Web/bin/roslyn/VBCSCompiler.exe.config
/MVCTabsApp.Web/bin/roslyn/csc.exe
/MVCTabsApp.Web/bin/roslyn/csc.exe.config
/MVCTabsApp.Web/bin/roslyn/csc.rsp
/MVCTabsApp.Web/bin/roslyn/csi.exe
/MVCTabsApp.Web/bin/roslyn/csi.rsp
/MVCTabsApp.Web/bin/roslyn/vbc.exe
/MVCTabsApp.Web/bin/roslyn/vbc.exe.config
/MVCTabsApp.Web/bin/roslyn/vbc.rsp
/MVCTabsApp.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MVCTabsApp.Web/obj/Debug/MVCTabsApp.Web.csproj.CopyComplete
/MVCTabsApp.Web/obj/Debug/MVCTabsApp.Web.csproj.CoreCompileInputs.cache
/MVCTabsApp.Web/obj/Debug/MVCTabsApp.Web.csproj.FileListAbsolute.txt
/MVCTabsApp.Web/obj/Debug/MVCTabsApp.Web.csprojAssemblyReference.cache
/MVCTabsApp.Web/obj/Debug/MVCTabsApp.Web.dll
/MVCTabsApp.Web/obj/Debug/MVCTabsApp.Web.pdb
/MVCTabsApp.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MVCTabsApp.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MVCTabsApp.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MVCTabsApp.Web/obj/Debug/Tsc.out
